*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --white: hsl(0, 0%, 100%);
    --blue--dark: hsl(218, 44%, 22%);
    --blue--grayish: hsl(220, 15%, 55%);
    --gray--light: hsl(212, 45%, 89%);

    /* font weight */
    --font--weight--normal: 400;
    --font--weight--bold: 700;

}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: var(--gray--light);
    min-height: 100vh;
    padding: 1.5rem;
}

main{
    width: 50em;
    height: 33em;
    padding: 1rem; 
    background-color: var(--white);
    border-radius: 1.2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size: 1rem;
}


.file-upload {
    text-align: center;
    margin-top: 10px;

}

#upload {
    margin-bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
}

#upload {
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--blue--dark);
    color: var(--white);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px var(--blue--grayish);
}

button {
    background-color: var(--blue--dark);
    border: none;
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--blue--grayish);
}


.table {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #dddddd;
}